* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px "Helvetica Neue";
  background: #fff;
  color: #fafafa;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.scoreboard {
  margin: 50px auto;
  width: 50%;
  text-align: center;
  background: #58c9b9;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgb(0,0,0,.2);
}

.heading {
  width: 100%;
  display: flex;
}

.stats-container, 
.stopwatch-container {
  padding: 5px;
  width: 20%;
}
.title-container {
  width: 60%;
}

.title-container h1{
  margin-top: 5%;
}

.stats-container,
.stopwatch-container {
  margin: 5px;
  background: #e53a40;
  border-radius: 5px;
}

.players {
  width: 100%;
}
.player {
  width: 90%;
  margin: 10px auto;
  display: flex;
  padding: 3px;
}

.player-detail {
  width: 80%;
  padding: 3%;
  text-align: left;
  display:flex;
  background: #56445D;
}

.player-remove {
  width: 20%;
  padding: 10px;
}
.player-remove a {
  text-decoration: none;
  display: block;
  color: #0080ff;
}

.player-name {
  width: 80%;
  padding: 10px;
}

.player-name h1 {
  margin: 0;
  padding: 0;
}

.player-scoreboard {
  width: 20%;
  background: skyblue;
}

.player-scoreboard {
  widows: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.player-increment {
  background: #f349eb;
  width: 33.33%;
}

.player-decrement {
  background: #d81159;
  width: 33.33%;
}
.player-score {
  width: 33.33%;
}

.players-container {
  margin-bottom: 10px;
  background: red;
}

.player-name h2 {
  padding-left: 20px;
}

.stopwatch-buttons {
  display: flex;
}

.form-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}

input[type="text"] {
  min-height: 40px;  
  width: 80%;
}
input[type="submit"] {
 width: 20%;
 height: 40px;
 background: orange url(image) 0 0 no-repeat; 
}
